In [3]:
import pandas as pd
df=pd.read_csv("bolly.csv")
df

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [4]:
df.count()

SlNo                   149
Release Date           149
MovieName              149
ReleaseTime            149
Genre                  149
Budget                 149
BoxOfficeCollection    149
YoutubeViews           149
YoutubeLikes           149
YoutubeDislikes        149
dtype: int64

How many movies got released in each genre? Which genre had highest number of releases? Sort 
number of releases in each genre in descending order.

In [5]:
df["Genre"].value_counts()

Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

In [6]:
a=df["Genre"].value_counts().max()
print(a)
s=df["Genre"]
s.mode()

36

0    Comedy
dtype: object

In [7]:
a=df.groupby("Genre")
a.count()

,SlNo,Release Date,MovieName,ReleaseTime,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
Genre,,,,,,,,,
Drama,35,35,35,35,35,35,35,35,35
Action,21,21,21,21,21,21,21,21,21
Action,3,3,3,3,3,3,3,3,3
Comedy,36,36,36,36,36,36,36,36,36
Romance,25,25,25,25,25,25,25,25,25
Thriller,26,26,26,26,26,26,26,26,26
Thriller,3,3,3,3,3,3,3,3,3

In [8]:
a=df.groupby(["Genre","ReleaseTime"])
a.groups

{(' Drama ', 'FS'): [23, 40, 127, 128], (' Drama ', 'HS'): [5, 29, 49, 55, 89, 133], (' Drama ', 'LW'): [26], (' Drama ', 'N'): [3, 9, 25, 27, 33, 34, 56, 58, 63, 69, 70, 74, 76, 81, 86, 101, 102, 104, 118, 120, 134, 135, 139, 141], ('Action', 'FS'): [92, 119, 143], ('Action', 'HS'): [36, 48, 148], ('Action', 'LW'): [61, 78, 130], ('Action', 'N'): [15, 22, 35, 41, 43, 54, 77, 91, 100, 107, 136, 138], ('Action ', 'N'): [10, 13, 21], ('Comedy', 'FS'): [115, 125, 126], ('Comedy', 'HS'): [17, 19, 39, 60, 85], ('Comedy', 'LW'): [8, 52, 59, 96, 132], ('Comedy', 'N'): [2, 4, 6, 7, 14, 18, 46, 47, 57, 65, 72, 75, 79, 84, 87, 95, 111, 112, 124, 129, 144, 146, 147], ('Romance', 'FS'): [106, 122, 142], ('Romance', 'HS'): [12, 32, 67], ('Romance', 'LW'): [0, 80, 83, 131], ('Romance', 'N'): [11, 24, 37, 42, 45, 50, 64, 66, 82, 90, 97, 105, 109, 110, 123], ('Thriller', 'FS'): [31, 62, 116, 121], ('Thriller', 'HS'): [99], ('Thriller', 'LW'): [114], ('Thriller', 'N'): [28, 30, 38, 44, 51, 53, 68, 71, 73, 88, 93, 94, 98, 103, 108, 113, 117, 137, 140, 145], ('Thriller ', 'LW'): [16], ('Thriller ', 'N'): [1, 20]}

In [9]:
df.insert(10,"month",0)
df["month"]=pd.to_datetime(df["Release Date"]).dt.month
df["month"].value_counts()

1     20
3     19
5     18
7     16
2     16
4     11
9     10
6     10
11    10
10     9
8      8
12     2
Name: month, dtype: int64

In [10]:
df

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,month
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527,4
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137,1
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54,7
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19,1
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224,7
...,...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615,2
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513,3
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807,3
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762,3
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649,5

# 3.How many movies in each genre got released in different release times like long weekend, festive season, etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)

In [12]:
pd.crosstab(index=df["Genre"],columns=df["ReleaseTime"])

ReleaseTime  FS  HS  LW   N
Genre
 Drama        4   6   1  24
Action        3   3   3  12
Action        0   0   0   3
Comedy        3   5   5  23
Romance       3   3   4  15
Thriller      4   1   1  20
Thriller      0   0   1   2

# 5.Which month of the year typically sees most releases of high budgeted movies, that is, movies with budget of 25 crore or more?

In [13]:
k=pd.crosstab(index=df["month"],columns=df[df["Budget"]>=25]["Budget"],margins=True)
print(k)

Budget  25  26  27  28  29  30  31  32  33  35  ...  75  85  90  100  115  \
month                                           ...
1        2   0   0   0   0   0   1   0   1   0  ...   0   0   0    0    0
2        0   0   1   0   0   2   0   0   0   0  ...   0   0   0    0    0
3        1   1   1   1   0   1   0   1   0   0  ...   0   0   0    0    0
4        0   0   0   0   1   0   1   0   0   0  ...   0   0   0    0    0
5        0   0   0   0   0   0   0   0   0   0  ...   0   0   0    0    0
6        0   0   0   0   0   1   0   0   0   2  ...   1   0   0    0    0
7        0   0   1   0   0   3   0   0   0   1  ...   0   0   0    1    0
8        0   0   0   0   0   0   0   0   0   2  ...   1   0   1    1    0
9        1   0   0   0   0   1   0   0   0   1  ...   1   0   0    0    0
10       0   0   0   0   0   0   0   0   0   0  ...   0   1   0    0    0
11       0   0   0   0   0   1   0   0   0   2  ...   0   0   0    0    1
12       0   0   0   0   0   0   0   0   0   0  ...   0   1   1    0    0
All      4   1   3   1   1   9   2   1   1   8  ...   3   2   2    2    1

Budget  120  125  140  150  All
month
1         1    0    0    0    8
2         0    0    0    0    9
3         0    0    0    0    7
4         0    0    0    0    4
5         0    0    0    1    3
6         0    0    0    0    5
7         0    0    0    0    6
8         0    0    0    0    7
9         0    0    0    0    5
10        0    1    1    0    4
11        0    0    0    0    6
12        0    0    0    0    2
All       1    1    1    1   66

[13 rows x 28 columns]

In [14]:
k=k[["All"]]                            #taking only "all" column from k which is summation of no of movies above 25 cr
k.drop(["All"],axis=0,inplace=True)    #dropping last row all since it doesnt required and effect while finding max valued month
k[k["All"]==k["All"].max()]

Budget  All
month
2         9

In [15]:
k[k["All"]==k["All"].max()]

Budget  All
month
2         9

6.Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment (ROI) as (BoxOfficeCollection â€“ Budget) / Budget

In [17]:
df["ROI"]=(df["BoxOfficeCollection"]-df["Budget"])/df["Budget"]

In [19]:
k=df["ROI"]

In [20]:
k

0      1.888889
1      0.200000
2     -0.600000
3     -0.950000
4     -0.400000
         ...
144    1.000000
145    1.469231
146   -0.625000
147    1.378000
148   -0.200000
Name: ROI, Length: 149, dtype: float64

In [21]:
m=k.sort_values()[-9:]

In [22]:
m

101    4.466667
37     5.500000
128    5.666667
58     5.933333
87     6.240000
135    7.500000
132    7.514286
89     7.647059
64     8.166667
Name: ROI, dtype: float64

In [23]:
j=m.index

In [25]:
for i in j:
    print(df.loc[i,"MovieName"])

Bhaag Milkha Bhaag
Humpty Sharma Ki Dulhania
Shahid
Mary Kom
Fukrey
The Lunchbox
Grand Masti
PK
Aashiqui 2

7.Do the movies have higher ROI if they get released on festive seasons or long weekend? Calculate the average ROI for different release times

In [26]:
df["ReleaseTime"].unique()

array(['LW', 'N', 'HS', 'FS'], dtype=object)

In [29]:
df[df["ReleaseTime"]=="FS"]["ROI"].mean()

0.9738532013595953

In [30]:
  df[df["ReleaseTime"]=="LW"]["ROI"].mean()

1.1272053098737973

In [32]:
  df[df["ReleaseTime"]=="HS"]["ROI"].mean()

0.8508667840873724

In [34]:
  df[df["ReleaseTime"]=="N"]["ROI"].mean()

0.6577216305350877

8.Draw a histogram and a distribution plot to find out the distribution of movie budgets. Interpret the plot to conclude if the most movies are high or low budgeted movies